.services-section {
  padding: 80px 20px;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
}

.services-section h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.services-section .service-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; /* 모든 공모가 한 줄에 위치하게 설정 */
  gap: 30px;
}

.services-section .service-item {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  width: 300px; /* 넓이 조정 가능 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.services-section .service-item h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.services-section .service-item p {
  font-size: 16px;
  line-height: 1.5;
}
.status {
  color: #d46618; /* 빨간 글씨 색상 */
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px; /* 제목과의 간격 */
}